extends layout

block content
	script(src='http://code.jquery.com/jquery.js')
	script(src='/javascripts/formscript.js')
	h1 List of All Orders
	div
	form(id="completeorder")
	each order, i in orderlist
		div(value=order, class="#{order._id}") 
			| #{order.customerName} has ordered: #{order._ingredients}     
			input(type="button", name="#{order.customerName}", value="Completed", class="com_button", id="#{order._id}")